## IF STATEMENTS

In [1]:
# if (conditional test):
#     statements

In [2]:
cars = ['audi', 'bmw', 'mercedes-benz']

In [4]:
for car in cars: 
    if car == 'mercedes-benz':
        print (car.title())
    else:
        print (car)

audi
bmw
Mercedes-Benz

### Conditional tests

In [ ]:
# if (conditional test):
#     statements

#### Checking for Equality

In [6]:
car = 'bmw'
print (car == 'audi')

False

In [7]:
# Case sensitive
car = 'Audi'
print (car == 'audi')

False

In [10]:
## Ignoring Case When Checking for Equality
car = 'AUDI'
print (car.lower())
print (car.lower() == 'audi')

audi
True

#### Checking for Inequality

In [14]:
language_name = 'python'

if language_name != 'Python':
    print (f"Python is not equal to {language_name}")

Python is not equal to python

#### Numerical Comparisons

In [17]:
age = 18
print (age == 18)

True

In [18]:
num1 = 10
num2 = 15

if num1 != num2:
    print (f"{num1} is not equal to {num2}")

10 is not equal to 15

`==, !=, >=, <=, ...`

In [21]:
print (15 >= 16)

False

In [22]:
print (5 < 3)

False

#### Checking Multiple Conditions
use keywords `and`, `or` for checking multiple conditions

In [27]:
age_1 = 22
age_2 = 18
age_3 = 27
age_4 = 15

print (age_1 > 20 and age_3 > 20 and age_4 > 20)

False

In [29]:
print (age_1 > 20 or age_3 > 20 or age_4 > 20)

True

***for more readability*** use parentheses around the individual 
tests

In [30]:
print ((age_4 > 20) or (age_2 > 20))

False

####  Checking Whether a Value Is in a List or not
use keywords `in` and `not in`

In [31]:
programming_languages = ['python', 'java', 'javascript']
print (programming_languages)

['python', 'java', 'javascript']

In [34]:
print ("python" in programming_languages)

True

In [35]:
print ("c" in programming_languages)

False

In [37]:
print ('c' not in programming_languages)

True

In [ ]:
# Boolean Expressions
game_active = True
can_edit = False

## if statements

### simple if statements

In [ ]:
# if (conditional test):
#     do something

In [38]:
age = 19

if age >= 18:
    print ("You are old enough to vote!")

You are old enough to vote!

In [39]:
age = 19

if age >= 18:
    print ("You are old enough to vote!")
    print ("Do you want to vote?")

You are old enough to vote!
Do you want to vote?

###  if-else Statements

In [41]:
age = 20

if age >= 18:
    print ("You are old enough to vote!")
    print ("Do you want to vote?")
else:
    print ("Sorry, you are too young to vote.")
    print ("Please wait until you turn 18!")

You are old enough to vote!
Do you want to vote?

### The if-elif-else Chain

In [46]:
age = 100

if (age < 4):
    print ("Your admission cost is $0.")
elif (age < 18):
    print ("Your admission cost is $25.")
else:
    print ("Your admission cost is $40.")

Your admission cost is $40.

In [47]:
age = 12

if (age < 4):
    price = 0
elif (age < 18):
    price = 25
else:
    price = 40

print (f"Your admission cost is ${price}")

Your admission cost is $25

### Using Multiple elif Blocks

In [51]:
age = 65

if (age < 4):
    price = 0
elif (age < 18):
    price = 25
elif (age < 65):
    price = 40
else: 
    price = 20

print (f"Your admission cost is ${price}")

Your admission cost is $20

### Omitting the else Block

In [ ]:
age = 65

if (age < 4):
    price = 0
elif (age < 18):
    price = 25
elif (age < 65):
    price = 40
elif (age >= 65): 
    price = 20

print (f"Your admission cost is ${price}")

### Testing Multiple Conditions

In [52]:
users = ['alireza', 'ali', 'reza']

if ("alireza" in users):
    print ("alireza is in the users list!")
elif ("ali" in users):
    print ("ali is in the users list!")

alireza is in the users list!

In [53]:
if ("alireza" in users):
    print ("alireza is in the users list!")
if ("ali" in users):
    print ("ali is in the users list!")

alireza is in the users list!
ali is in the users list!

### Using if Statements with Lists

In [59]:
users = ['alireza', 'ali', 'reza']

In [61]:
# users = ['alireza', 'ali', 'reza']

if ("amir" in users):
    print ("amir is in the users list!")
    print ("your list is:")
    print (users)
else:
    print ("amir is not in the users list!")
    users.append("amir")
    print ("amir is added to the users list!")
    print ("updated list is:")
    print (users)

amir is in the users list!
your list is:
['alireza', 'ali', 'reza', 'amir']

In [63]:
a_list = [1, 2, 3, 4, 5, 8]
# a_list = [] # empty list

if a_list:
    print ("Your list is not empty!")
    print ("You can work on your list!")
else:
    print ("Your list is empty!")
    print ("add an item to your list!")

Your list is not empty!
You can work on your list!

In [64]:
for item in a_list:
    print (item)

1
2
3
4
5
8

In [ ]:
## Check the number and tell whether it is prime or not.
n = 12

for num in range(2, n):
    if n % num == 0:
        print (f"{n} is not prime!")
        break
else:
    print (f"{n} is prime!")