# Data type
* str `x = "My name is Alireza"`
* int `x = 19`
* float `x = 19.5`
* complex `x = 3j + 5`
* list `x = ["apple", "banana", "cherry"]`
* tuple `x = ("apple", "banana", "cherry")`
* range `x = range(3)`
* set `x = {"ali", "alierza", "akh"}`
* frozenset `x = frozenset({"ali", "alierza", "akh"})`
* bool `x = True`
* bytes `x = b"Alireza"`
* bytearray `x = bytearray(6)`
* NoneType `None`
* memoryview `x = memoryview(bytes(3))`
* dict `x = {"name" : "Alireza", "age" : 50}

In [23]:
mylist = [1, 2, 2, 3, 2, 3, 3, 4]
print (mylist)
print (mylist[3])

myset = {1, 2, 2, 3, 2, 3, 3, 4}
print (myset)
myset.remove(2)
print (myset)
myset.add(2)
print (myset)

[1, 2, 2, 3, 2, 3, 3, 4]
3
{1, 2, 3, 4}
{1, 3, 4}
{1, 2, 3, 4}

In [37]:
x = {2 : "Alireza", 
     "age" : 50,
     "name" : "Alireza"}
print (x)
print (x[2])
print (x["name"])

{2: 'Alireza', 'age': 50, 'name': 'Alireza'}
Alireza
Alireza

In [45]:
int(5.3)

5

In [1]:
y = 5
print (y)

5

In [38]:
# Creating a memory view of a bytearray
data = bytearray("Hello", "utf-8")
# data = bytearray(b"Hello")
mv = memoryview(data)                
# print (mv)
print(mv[0]) 
mv[1] = 105           
print(data)

72
bytearray(b'Hillo')

In [26]:
data = bytearray(3)
mv = memoryview(data)   
print (data)
# print (mv)
print(mv[0]) 
mv[0] = 65
mv[1] = 76           
mv[2] = 73           
       
print(data)

bytearray(b'\x00\x00\x00')
0
bytearray(b'ALI')

In [ ]:
print (data[0])

# Setting the Specific Data Type
* `int()`
* `float()`
* `list()`
* `touple()`
* `str()`
* `...`

In [44]:
a = list([1, 2, 3, 4]) 
person = {
    "name" : "amir",
    "age" : "25",
}

print (dic)

{'name': 'amir', 'age': '25'}

In [ ]:
a = tuple([1, 2, 3, 5])

In [ ]:
print (a)

# Python Casting
* `int()`
* `float()`
* `str()`

In [49]:
num_int = 5
num_float = 6.3
mystr = "1.5"

print (type(num_int))
print (type(num_float))
print (type(mystr))

new_int = int(num_float)
new_float = float(num_int)
new_str = str(new_float)
new_new_int = float(mystr)
print (20*"*")
print (type(new_int))
print (type(new_float))
print (type(new_str))
print (type(new_new_int))

print (new_int)
print (new_float)
print (new_str)
print (new_new_int)

<class 'int'>
<class 'float'>
<class 'str'>
********************
<class 'int'>
<class 'float'>
<class 'str'>
<class 'float'>
6
5.0
5.0
1.5

# Python Operators
* Arithmetic Operators
* Comparison Operators
* Logical Operators
* Bitwise Operators
* Assignment Operators
* Identity Operators & Membership Operators
* Ternary Operator

In [50]:
number = 10
print(f"Binary: {number:b}")

number = 10
print(f"Hexadecimal: {number:x}")

Binary: 1010
Hexadecimal: a

## Example of Arithmetic Operators in Python:

In [52]:
# Variables
a = 10
b = 4

# Addition
print("Addition:", a + b)

# print (20*"*")
# print("Addition:", "sdf", "asdf")
# print(a + b)

# Subtraction
print("Subtraction:", a - b) 

# Multiplication
print("Multiplication:", a * b)  

# Division
print("Division:", a / b) 

# Floor Division
print("Floor Division:", a // b)  

# Modulus
print("Modulus:", a % b) 

# Exponentiation
print("Exponentiation:", a ** b)

Addition: 14
Subtraction: 6
Multiplication: 40
Division: 2.5
Floor Division: 2
Modulus: 2
Exponentiation: 10000

## Example of Comparison Operators in Python

In [53]:
a = 11
b = 22

print("11 > 22 ?", a > b)
print(a < b)
print(a == b)
print(a != b and a < 15)
print(a >= b)
print(a <= b)

11 > 22 ? False
True
False
True
False
True

## Example of Logical Operators in Python:

In [56]:
a = True
b = False
print(1 > 0 and 2 > 1)
print(a or b)
print(not b)

True
True
True

In [57]:
number = 10
print(f"Binary: {number:b}")
number = 2
print(f"Binary: {number:b}")

Binary: 1010
Binary: 10

## Example of Bitwise Operators in Python:
* Bitwise NOT
* Bitwise Shift
* Bitwise AND
* Bitwise XOR
* Bitwise OR

In [60]:
a = 10
print(f"Binary: {a:b}")
b = 9
print("   ")
print(f"Binary: {b:b}")
print("   ")

Binary: 1010

Binary: 1001

In [61]:
print(a & b)
print(a | b)
print(~a)
print(a ^ b)
print(a >> 2)
print(a << 2)

8
11
-11
3
2
40

## Example of Assignment Operators in Python:

In [62]:
a = 10
b = a
print(b)
b += a # b = b + a
print(b)
b -= a # b = b - a
print(b)
b *= a # b = b * a
print(b) 
b <<= a # b = b << a
print(b)

10
20
10
100
102400

In [63]:
x = 4
print(f"Binary: {x:b}")

x = x << 2
print(f"Binary: {x:b}")

x >>= 3
print(f"Binary: {x:b}")

Binary: 100
Binary: 10000
Binary: 10

## Example of Identity Operators in Python:

In [64]:
a = 10
b = 20
c = a

print(a is not b)
print(a is c)

True
True

In [76]:
x = [1, 2, 3]
y = [1, 2, 3]
z = x

# Equality comparison (==)
if x == y:
    print("True")
else:
    print("False")

True

In [77]:
x = [1, 2, 3]
y = [1, 2, 3]
z = x


# Case 1: Identity comparison (is)
if x is y:
    print("True")
else:
    print("False")

# Case 2: Comparing references (is)
if x is z:
    print("True")
else:
    print("False")

False
True

In [69]:
a = [1, 2, 3]
b = [1, 2, 3]
z = a

z[0] = 6

In [70]:
print (a)
print (b)
print (z)

[6, 2, 3]
[1, 2, 3]
[6, 2, 3]

In [73]:
x is y

False

## Examples of Membership Operators in Python:

In [81]:
x = 24
y = 20
list = [10, 20, 30, 40, 50]

if (x not in list):
    print("x is NOT present in given list")
else:
    print("x is present in given list")

if (y in list):
    print("y is present in given list")
else:
    print("y is NOT present in given list")

x is NOT present in given list
y is present in given list

## Example of Ternary Operator in Python

In [83]:
if 10 > 50: 
    print (True)
else:
    print(False)

False

In [86]:
a, b, c = 10, 20, 30
print (f"a = {a}, b = {b}")
min_ = a if a > b else b

print(min_)

a = 10, b = 20
20